<h4><%= @restaurant.name %></h4><br>

<li>
  <%= @restaurant.content %><br>
  <%= @restaurant.price %><br>
  <%= @restaurant.dish %><br>
  <%= @restaurant.drink %><br>
  <%= @restaurant.atmosphere %><br>
<li>
