<h2><%= @restaurant.name %></h2><br>

<li>
  <h4>Why <%= @restaurant.user.name %> loves it:</h4>
  <p><%= @restaurant.content %></p><br>

  <h4>Dish <%= @restaurant.user.name %> Recommends:</h4>
  <p><%= @restaurant.dish %></p><br>

  <h4>Drink <%= @restaurant.user.name %> Recommends:</h4>
  <p><%= @restaurant.drink %></p><br>

  <h4>Price:</h4>
  <p><%= @restaurant.price %></p><br>

  <h4>What's the service like?</h4>
  <p><%= @restaurant.service %></p><br>

  <h4>What's the atmosphere like?</h4>
  <p><%= @restaurant.atmosphere %></p><br>
<li>

<a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant Entry</a><br>
