<h3><%= @restaurant.name %></h3><br>

<li>
  <h4>Why <%= @restaurant.user.name %> loves it:</h4>
  <h5><%= @restaurant.content %></h5><br>

  <h4>Dish <%= @restaurant.user.name %> Recommends:</h4>
  <h5><%= @restaurant.dish %></h5><br>

  <h4>Drink <%= @restaurant.user.name %> Recommends:</h4>
  <h5><%= @restaurant.drink %></h5><br>

  <h4>Price:</h4>
  <h5><%= @restaurant.price %></h5><br>

  <h4>What's the service like?</h4>
  <h5><%= @restaurant.service %></h5><br>

  <h4>What's the atmosphere like?</h4>
  <h5><%= @restaurant.atmosphere %></h5><br>
<li>
